<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/shop/shopHome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
</head>
<body>
    <div class="master-container">
        <div class="modal-container">

            <div class="master-cart-container">

                <!-- GENERATED FROM JS, DOESNT NEED EJS -->
                <div class="cart-container">
                    <div class="cart-container-image-container"><img src="/shop/products/Purple Dream/1.png" alt="item XXXXX.png"></div>
                    <div class="cart-container-title">
                        <div class="cart-container-title-header">
                            <div>Purple Dream</div>
                        </div>
                        <div class="cart-container-title-footer">
                            <div>color / size</div><div>$10.00</div>
                        </div>
                    </div>
                    <div class="cart-container-footer"><div class="fas fa-times-circle"></div></div>
                </div>
                <!-- ---------------------------------- -->

            </div>

            <div class="checkout-container">

                <!--------- GENERATE WITH JS --------->
                <div class="subtotal-container">
                    <div class="">Subtotal</div>
                    <div class="">$10.00</div>
                </div>
                <!-- ---------------------------------- -->
                <div class="info-container">Shipping, taxes, and discount codes calculated at checkout.</div>
                <div class="checkout-btn">Check out</div>

            </div>

            <div class="exit-btn"><div class="fas fa-times-circle"></div></div>

        </div>
        <nav class="navbar">
            <div class="nav-child1 logo no-select">
                <!-- <img class="logo" src="/shop/media/mlk.png" alt="mlk"> -->
                <h2>City Point Exotics</h2>
            </div>
            <div class="nav-child2">
                <div class="cart-btn"><div class="fas fa-shopping-cart"></div></div>
                <div class="about-btn"><a href="#social">about</a></div>
                <div class="shop-btn"><a href="#shop-products">shop</a></div>
            </div>
            <div class="nav-child3"><img class="logo no-select" src="/shop/media/leaf.svg" alt="fist"></div>
        </nav>
        <div class="advertisement-container no-select">
            <img id="banner" src="" alt="banner">
        </div>
        <div class="shop-products" id="shop-products">
            <h1>SHOP</h1>
            <div class="shop-products-container">
            <% for(var i=0; i<Object.keys(storeData).length; i++) {%>
                <div class="item-container">
                    <% if (soldOut[i]) { %>
                        <div class="sold-out no-select">Sold Out</div>
                    <%} %>
                    <div class="item-container-image-container no-select"><img src="/shop/products/<%= Object.keys(storeData)[i] %>/1.png" alt="<%= Object.keys(storeData)[i] %>"></div>
                    <div class="item-container-title"><%= Object.keys(storeData)[i] %></div>
                    <div class="item-container-footer">$<%= storeData[Object.keys(storeData)[i]].price %></div>
                </div>
            <% } %>
            </div>
        </div>
        <div class="social-container" id="social">social</div>
    </div>
    <% for(var i=0; i<Object.keys(storeData).length; i++) {%>
        <div id="<%= Object.keys(storeData)[i] %>" class="item"></div>
    <% } %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/scripts/shopHome.js"></script>
</body>