<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= storeData[index].name %></title>

    <!-- Header css -->
    <link rel="stylesheet" href="/css/shop/header.css">
    <!-- Content css -->
    <link rel="stylesheet" href="/css/shop/shopProduct.css">
    <!-- About css -->
    <link rel="stylesheet" href="/css/shop/about.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="master-container" class="master-container">

        <script>const masterContainer = document.getElementById("master-container");</script>

        <!-- Header component -->
        <script src="/scripts/shopScripts/components/Header.js"></script>

        <!-- Content -->
        <script>const index = <%= index %>; </script>
        <div class="shop-products" id="shop-products">
            <h1 id="product-name"><%= storeData[index].name %></h1>
            <div id="shop-products-container" class="shop-products-container">

                <div class="testtest">

                    <div class="images-container">
                        <% for(let [i, pic] of pictures.entries()) {%>
                            <% if (i == 0) { %>
                                <div class="img no-select selected">
                                    <img src="/shop/products/<%= storeData[index].name %>/<%= pic %>" alt="test">
                                </div>
                            <%} else { %>
                                <div class="img no-select">
                                    <img src="/shop/products/<%= storeData[index].name %>/<%= pic %>" alt="test">
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                    <div class="item-container">
                        <div class="item-container-image-container no-select">
                            <img src="/shop/products/<%= storeData[index].name %>/1.png" alt="<%= storeData[index].name %>">

                            <% if (storeData[index].product === 'item' || storeData[index].product === 'onesize') { %>
                                <% if (storeData[index].quantity === 0) { %> 
                                    <div class="sold-out no-select">Sold Out</div>
                                <% } %>
        
                            <% } else if (storeData[index].product === 'shirt' || storeData[index].product === 'leggings') { %>
                                <% let quantity = 0; %>
                                <% for (let key in storeData[index].letterSize) { %>
                                    <% quantity += storeData[index].letterSize[key]; %>
                                <% } %>
                                <% if (quantity === 0) { %>
                                    <div class="sold-out no-select">Sold Out</div>
                                <% } %>
                                
                            <% } %>
                        </div>
                        <div class="item-container-footer">$<%= storeData[index].price %> USD</div>
                    </div>

                </div>

                <div class="large-description">
                    <div><%= storeData[index].descriptionLarge %></div>
                </div>

                <div class="testtest2">
                    <div><%= storeData[index].name %></div>
                    <div>$<%= storeData[index].price %> USD</div>
                </div>

                <div class="final">

                    


                    <div class="add-btn-container">
                        <div id="add-btn" class="add-btn no-select add-btn-color1">Add to cart</div>
                    </div>




                </div>

                <div class="second-large-description">
                    <div><%= storeData[index].descriptionLarge %></div>
                </div>



            </div>
        </div>
        <!-- Content -->

        <!-- About component -->
        <script src="/scripts/shopScripts/components/About.js"></script>

    </div>
    <!-- Header js -->
    <script src="/scripts/shopScripts/shopHeader.js"></script>
    <!-- Content js -->
    <script src="/scripts/shopScripts/shopProduct.js"></script>
</body>