<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#327242" />
    <title>Shop</title>
    
    <!-- Header css -->
    <link rel="stylesheet" href="/css/shop/header.css">
    <!-- Content css -->
    <link rel="stylesheet" href="/css/shop/shopHome.css">
    <!-- About css -->
    <link rel="stylesheet" href="/css/shop/about.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="master-container" class="master-container">

        <script>const masterContainer = document.getElementById("master-container");</script>

        <!-- Header component -->
        <script src="/scripts/shopScripts/components/Header.js"></script>

        <!-- Content -->
        <div class="shop-products" id="shop-products">
            <h1>SHOP</h1>
            <div class="shop-products-container">
            <% for(let i=0; i<storeData.length; i++) {%>
                <div link="<%= storeData[i].slug %>" class="item-container">

                    <% if (storeData[i].product === 'item' || storeData[i].product === 'onesize') { %>
                        <% if (storeData[i].quantity === 0) { %> 
                            <div class="sold-out no-select">Sold Out</div>
                        <% } %>

                    <% } else if (storeData[i].product === 'shirt' || storeData[i].product === 'leggings') { %>
                        <% let quantity = 0; %>
                        <% for (let key in storeData[i].letterSize) { %>
                            <% quantity += storeData[i].letterSize[key]; %>
                        <% } %>
                        <% if (quantity === 0) { %>
                            <div class="sold-out no-select">Sold Out</div>
                        <% } %>
                    <% } %>

                    <div class="item-container-image-container no-select"><img src="/shop/products/<%= storeData[i].name %>/1.png" alt="<%= storeData[i].name %>"></div>
                    <div class="item-container-title"><%= storeData[i].name %></div>
                    <div class="item-container-footer">$<%= storeData[i].price %></div>
                </div>
            <% } %>
            </div>
        </div>
        <!-- Content -->

        <!-- About component -->
        <script src="/scripts/shopScripts/components/About.js"></script>

    </div>
    <!-- Header js -->
    <script src="/scripts/shopScripts/shopHeader.js"></script>
    <!-- Content js -->
    <script src="/scripts/shopScripts/shopHome.js"></script>
</body>